PORT=5000
FRONTEND_URL=http://localhost:5173
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
ACADEMY_EMAIL=upletakrishnaacademy@gmail.com
SENDER_EMAIL=onboarding@resend.dev
SUPABASE_URL=https://xxxxxxxxxxxxxxxx.supabase.co
SUPABASE_ANON_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxx
NODE_ENV=development
